# Virtual Environments
.venv/
venv/
env/

# Databases
*.db
*.sqlite3
sentinel.db

# Python Cache
__pycache__/
*.py[cod]
*.pyo
.env
node_modules/
.DS_Store
*.egg-info/
dist/
build/
.gh/

# Images / Alerts
alerts/
